.header-container{
    display: flex;
    justify-content: center;
    padding:20px;
    background-color: #1f2937;
    color: white;
    
}
.header{
    width: 1250px;
    display: flex;
    justify-content: space-between;
}

.header-right{
    display: flex;
    
}
.header-right div{
    margin:5px;
}
.header2{
    display: flex;
    padding: 70px;
    color: white;
    background-color: #1f2937;
    justify-content:center;
}
.header2-container{
    display: flex;
    width: 1250px;
    justify-content: space-between;

}
.header2-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom:8px;
}
.header2-subtext{
    font-size: 18px;
    color:#e5e7eb;
    margin-bottom: 12px;

}
.header-container-right{
    width: 575px;
}
.header-container-right img{
    width:426px;
    height: 200px;
}
.random-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding:50px;
    
}
.images-holder{
    display:flex;
    justify-content: center;
}
.images{
    display: flex;
    width: 900px;
    justify-content: space-around;
}
.images div{
    height:190px;
    width: 190px;
    border: 5px solid rgb(12, 95, 202);
    border-radius:15px;

}
.images-subtext-holder{
    display: flex;
    justify-content: center;
}
.images-subtext{
    width: 900px;
    display: flex;
    justify-content: space-around;
}
.images-subtext div{
    margin:5px 20px;
}
.quote-holder{
    margin-top:80px;
    padding-top:80px;
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
}
.quote{
    display: flex;
    width: 850px;
    font-size: 36px;
    color: #1f2937;
}

.saidby-container{
display: flex;
justify-content:center;
background-color:#e5e7eb ;
padding-bottom: 80px;
}

.saidby{
    width: 850px;
    font-size: 24px;
    color: black;
    font-weight: bolder;
    display:flex;
    justify-content: flex-end;
}
.ad-container{
    display: flex;
    justify-content: center;
}
.ad{
    width: 1100px;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: white;
    margin:80px;
    padding: 40px;
}
.signup-container{
    display: flex;
    align-items: center;
}
.signup a{
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 10px;  
  text-decoration: none;
  font-weight: bold;
  color: white;

}
.ad-header{
    font-size: 24px;
    font-weight: bolder;
}
.copyright{
    display:flex;
    justify-content: center;
    padding: 60px;
    background-color: #1f2937;
    color: white;
}

.header2 a{
    padding: 5px 10px;
    background-color: #3882f6;
    color:white;
    font-weight: bold;
    border: 1px solid;
    border-radius: 10px;
    text-decoration: none;
}

